body {
  margin-top: 3px;
  font-size: 18px;
}
a {
  color: #0784cd;
}
a:hover {
  text-decoration: none;
  color: #0784cd;
}
hr {
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 5px solid rgba(223, 223, 223, 0.27);
}

.profile img{
  width: 100%;
}
.profile .name{
  text-align: center;
  font-size: 20px;
}
.top-image{
  color: rgba(0, 0, 0, 0.82);
  background-image: url('/img/top.jpg');
  height: 350px;
  padding-top: 60px;
  text-align: center;
}
.top-image > p {
  font-weight: bold;
  font-size: 35px;
}
.sub-head.jumbotron {
  padding: 0;
}
.sub-head.jumbotron > h1 {
  background-color: rgba(255, 255, 255, 0.28);
  padding: 25px 20px;
}
#about > .jumbotron {
  background-image: url('/img/image01.jpg');
}
#works > .jumbotron {
  background-image: url('/img/image02.jpg');
}
#members > .jumbotron {
  background-image: url('/img/image03.jpg');
}
#contact > .jumbotron {
  background-image: url('/img/image04.jpg');
}
footer{
  padding: 20px 0px;
  text-align: center;
}
#topBtn{
  cursor: pointer;
  position: fixed;
  right: 2px;
  bottom: 2px;
  background-color: #3ed9d4;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}
